<mat-sidenav-container [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary" class="mat-elevation-z4" class="headerbar">
    <mat-toolbar-row class="topbar">
      <img src="../assets/calibrae-logo.svg" />
      <span class="heading">{{title}}</span>

      <span fxShow="true" fxHide.gt-xs="true">
        <button mat-icon-button>
          <mat-icon>trending_up</mat-icon>
        </button>
      </span>

      <span fxShow="false" fxHide.gt-xs="false">
        <button mat-button>
          <mat-icon>trending_up</mat-icon>
          Trending
        </button>
      </span>

      <button mat-icon-button (click)="changeTheme()">
        <mat-icon class="themeicon" matTooltip="{{themeTooltip}}">{{themeIconName}}</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>


      <span class="rightspan" fxShow.lt-sm="true" fxHide.gt-sm="true" fxHide.xs="true">
        <button mat-icon-button>
          <mat-icon>language</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>

      <span class="rightspan" fxShow.gt-sm="true" fxHide.lt-md="true">
        <button mat-button>
          <mat-icon>language</mat-icon>
          EN
        </button>
        <button mat-button>
          <mat-icon>chat</mat-icon>
          Chat
        </button>
        <button mat-button>
          <mat-icon>shopping_cart</mat-icon>
          Market
        </button>
        <button mat-button>
          <mat-icon>account_balance_wallet</mat-icon>
          Wallet
        </button>
        <button mat-button>
          <mat-icon>account_circle</mat-icon>
          Login
        </button>
      </span>

      <span class="rightspan" fxShow="true" fxHide.gt-xs="true">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content">
    <p>A paragraph.</p>
    <mat-card>This is a card</mat-card>
    <p>A paragraph.</p>
    <mat-card>This is a card</mat-card>
    <p>A paragraph.</p>
    <mat-card>This is a card</mat-card>
    <p>A paragraph.</p>
  </div>
  <mat-toolbar color="accent">
    <img src="../assets/calibrae-logo.svg" />
    <span class="heading">{{copyright}}</span>
    <span class="rightspan">
      <a href="https://gitlab.com/lokiverloren/calibrae" mat-button>
        <mat-icon svgIcon="gitlab"></mat-icon> Gitlab
      </a>
    </span>
  </mat-toolbar>
</mat-sidenav-container>
