.themeicon {
  color: white;
}

.rightspan {
  margin-left: auto;
}

p {
  margin: 0px;
  padding: 8px;
}

.heading {
  padding-left: 8px;
  padding-right: 8px;
}

.headerbar {
  position: fixed;
  top: 0px;
  z-index: 5;
}

.content {
  margin-top: 64px;
}

.topbar {
  height: 64px;
}
