/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
.bright-theme {
  $bright-primary: mat-palette($mat-green, 700, 500, 300);
  $bright-accent: mat-palette($mat-grey, 300, 200, 100);
  $bright-warn: mat-palette($mat-orange);
  $bright-theme: mat-light-theme($bright-primary, $bright-accent, $bright-warn);
  @include angular-material-theme($bright-theme);
}

$dark-primary: mat-palette($mat-green, 900, 500, 300);
$dark-accent: mat-palette($mat-grey, 700, 500, 300);
$dark-warn: mat-palette($mat-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include angular-material-theme($dark-theme);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
